*{
    margin: 0;
    padding: 0;
}

body{
    /* 100%的窗口高度 */
    height: 100vh;
    /* 弹性布局 水平 + 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 引入字体 */
    font-family: miaowu;
    /* 渐变背景 */
    background: linear-gradient(45deg,rgb(181,154,254),rgb(245,189,253)) fixed;
}

.container{
    /* 相对定位 */
    position: relative;
    width: 70rem;
}

.container img{
    width:70rem;
}

.switch span{
    color:#ccc;
    font-size: 1.4rem;
    /* 鼠标放上变小手 */
    cursor: pointer;
}

.switch span.active{
    color: rgb(181,154,254);
}

.panel{
    width: 30%;
    margin: 10rem 0 0;
    position : absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
}

.form{
    width: 12rem;
    margin: 3rem 0 0;
}

.form .input{
    position: relative;
    opacity: 1;
    height: 2rem;
    width: 100%;
    margin: 2rem 0;
    transition: 0.4s;
}

.form input{
    outline: none;
    width: 100%;
    border: none;
    border-bottom: .1rem solid rgb(181,154,254);
    position: relative;
    line-height: 35px;
    background-color: transparent;
    z-index: 1;
}

.form label{
    position: absolute;
    left: 0;
    top: 20%;
    font-size: 1.2rem;
    color: rgb(129,101,207);
    transition: 0.3s;
}

.hasValue ~ label,input:focus ~ label{
    top: -50%;
    font-size: 0.9rem;
}

.form span{
    display: block;
    color: rgb(110,89,167);
    font-size: 0.8rem;
    cursor: pointer;
}

.form button{
    position: relative;
    border: none;
    outline: none;
    margin: 4rem 0 0;
    width: 100%;
    height: 3rem;
    border-radius: 3rem;
    background: linear-gradient(45deg,rgb(181,154,254),rgb(245,189,253));
    box-shadow: 0 0 8px rgb(181,154,254);
    cursor: pointer;
    color: white;
    text-decoration: none; /* 移除超链接下划线 */
}